* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(26, 26, 90, 0.87);
    transition: box-shadow 0,4s ease,transform 0,4s ease;
    width: 100%;
    max-width: 400px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0ba29d;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #0ba29d;
    outline: none;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .form-button {
    width: 100%;
    padding: 12px;
    background-color: #4ecfe6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(12, 164, 157, 0.2);
  }
  
  .form-button:hover {
    background-color: #509ee7;
    box-shadow: 0 8px 20px rgba(12, 164, 157, 0.2);
  }
